table {
    background-color: dimgray;
}

tr, td, th {
    background-color: #f9f9f9;
    border: solid 1px darkgray;
    border-bottom: dimgrey;
    border-left: dimgrey;
}

tr, td, th {
    padding: 5px;
    margin: 0px;
}

div[role="presentation"] {
    left: 5px;
}

div.MuiDialog-paperWidthSm {
    max-width: 100%;
}